
USC Crime Data/Raw Data/010918.pdf
USC Crime Data/Raw Data/011018.pdf
USC Crime Data/Raw Data/011118.pdf
USC Crime Data/Raw Data/011218.pdf
USC Crime Data/Raw Data/011618.pdf
USC Crime Data/Raw Data/011718.pdf
USC Crime Data/Raw Data/011818.pdf
USC Crime Data/Raw Data/011918.pdf
USC Crime Data/Raw Data/012218.pdf
USC Crime Data/Raw Data/012318.pdf
USC Crime Data/Raw Data/012418.pdf
USC Crime Data/Raw Data/012518.pdf
USC Crime Data/Raw Data/012618.pdf
USC Crime Data/Raw Data/012918.pdf
USC Crime Data/Raw Data/013018.pdf
USC Crime Data/Raw Data/013118.pdf
USC Crime Data/Raw Data/020118.pdf
USC Crime Data/Raw Data/020218.pdf
USC Crime Data/Raw Data/020518.pdf
USC Crime Data/Raw Data/020618.pdf
USC Crime Data/Raw Data/020718.pdf
USC Crime Data/Raw Data/020818.pdf
USC Crime Data/Raw Data/020918.pdf
USC Crime Data/Raw Data/021218.pdf
USC Crime Data/Raw Data/021318.pdf
USC Crime Data/Raw Data/021418.pdf
USC Crime Data/Raw Data/021518.pdf
USC Crime Data/Raw Data/021618.pdf
USC Crime Data/Raw Data/022018.pdf
USC Crime Data/Raw Data/022118.pdf
USC Crime Data/Raw Data/022218.pdf
USC Crime Data/Raw Data/022318.pdf
USC Crime Data/Raw Data/022618.pdf
USC Crime Data/Raw Data/022718.pdf
USC Crime Data/Raw Data/022818.pdf
USC Crime Data/Raw Data/030118.pdf
USC Crime Data/Raw Data/030218.pdf
USC Crime Data/Raw Data/030518.pdf
USC Crime Data/Raw Data/030618.pdf
USC Crime Data/Raw Data/030718.pdf
USC Crime Data/Raw Data/030818.pdf
USC Crime Data/Raw Data/030918.pdf
USC Crime Data/Raw Data/031218.pdf
USC Crime Data/Raw Data/031318.pdf
USC Crime Data/Raw Data/031418.pdf
USC Crime Data/Raw Data/031518.pdf
USC Crime Data/Raw Data/031618.pdf
USC Crime Data/Raw Data/031918.pdf
USC Crime Data/Raw Data/032018.pdf
USC Crime Data/Raw Data/032118.pdf
USC Crime Data/Raw Data/032218.pdf
USC Crime Data/Raw Data/032318.pdf
USC Crime Data/Raw Data/032618.pdf
USC Crime Data/Raw Data/032718.pdf
USC Crime Data/Raw Data/032818.pdf
USC Crime Data/Raw Data/032918.pdf
USC Crime Data/Raw Data/033018.pdf
USC Crime Data/Raw Data/040218.pdf
USC Crime Data/Raw Data/040318.pdf
USC Crime Data/Raw Data/040418.pdf
USC Crime Data/Raw Data/040518.pdf
USC Crime Data/Raw Data/040618.pdf
USC Crime Data/Raw Data/040918.pdf
USC Crime Data/Raw Data/041018.pdf
USC Crime Data/Raw Data/041118.pdf
USC Crime Data/Raw Data/041218.pdf
USC Crime Data/Raw Data/041318.pdf
USC Crime Data/Raw Data/041618.pdf
USC Crime Data/Raw Data/041718.pdf
USC Crime Data/Misc/Location vs. Incidents.twb
